<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Choose Your Mix</title>
    </head>
    <body>
        <h1>Выбери свой микс</h1>
        <p>Сначала задай направление своего вкуса</p>
        <label for="direction">Выбери направление:</label>
<select name="dir" id="direction">
  <option value="">--Please choose an option--</option>
  <option value="sweet">Сладкий</option>
  <option value="sour">Кислый</option>
  <option value="fresh">Свежий</option>
  <option value="spicy">Пряный</option>
  <option value="herbal">Травянистый</option>
  <option value="neutral">Нейтральный</option>
  </select>
  <p>Можешь скомбинировать</p>
  <label for="direction2">Выбери дополнительное направление:</label>
<select name="dir2" id="direction2">
<option value="">--Please choose an option--</option>
<option value="sweet">Сладкий</option>
<option value="sour">Кислый</option>
<option value="fresh">Свежий</option>
<option value="spicy">Пряный</option>
<option value="herbal">Травянистый</option>
<option value="neutral">Нейтральный</option>
</select>
    </body>
</html>